@import url(https://fonts.googleapis.com/css?family=Work+Sans);

body{
    font-family: 'Work Sans',sans-serif,Tahoma;
    background-color: #fcfcfc;
    color: #525457;
    /*color: #444;*/
}

label {
  font-weight: 500;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
  font-weight: 600;
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #fff;
  font-weight: 700;
  background-color: transparent;
}

.navbar-brand {
  padding: 0px;
}

.form-control:focus {
  border-color: #66e988;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 233, 148, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 233, 160, 0.6);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #23c73f;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.footer-links{
  margin-bottom: 10px;
}

.footer-links a{
  color:rgb(235, 235, 235);
  font-size:14px;
}

.footer-container{
  margin-bottom:30px;
}

a, p{
    font-size: 15px;
}


.list-group {
  padding-left: 0;
  margin-bottom: 0px;
}

.list-group-item.category {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.list-group-item.category:hover .category-display {
  display: block;
}

.category-display:hover{
  display:block;
}

.category-display{
  display: none;
  background: #fff;
  box-shadow: -3px 7px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  width: 88%;
}

.category-img{
  height:200px;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.category-links a{
  color: green;
  font-weight: 500;
}

.category-links {
  margin-bottom: 5px;
}

 .myh1{
    color: rgb(75, 152, 75);
    font-weight: 600;
    font-size: 36px;
}
.header-stroke{
    width: 80px;
    height: 6px;
    background-color: rgb(75, 152, 75);
    margin-left: 46.5%;
    margin-bottom: 30px;
}

.product-mini-details{
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(33,33,69,.125);
  margin-bottom: 40px;

}

.product-box{
    height: 200px;
}

.product-image{
  overflow: hidden;
  height: 100%;
}

.product-box img{
  width:100%;
  object-fit: cover;
  height: 200px;
}

.product-mini-title{
  font-size: 17px;
  font-weight: 600;
  color: #5cb85c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.product-mini-location{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.product-mini-price{
  font-weight: 600;
}

.premium-badge{
  position: absolute;
  top: 5%;
  right: 10%;
}

.premium-badge img{
  width:50px;
}

div#st-1 {
  text-align: inherit;
}

form .error {
  color: #ca0000;
  font-weight: 600;
}


.advert-notification{
  padding: 20px;
  margin-bottom: 30px;
  cursor: unset;
}

@-webkit-keyframes progress
{
	to {background-position: 30px 0;}
}

@-moz-keyframes progress
{
  to {background-position: 30px 0;}
}

@keyframes progress
{
  to {background-position: 30px 0;}
}

.progressBarBg {
  position: fixed; 
  top:0%;
  width: 100%;
  background-color: transparent;
  /* padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 0px; */
  z-index: 10000;
  display: none;
}

.progressBar {
	background: #0fd377;
	height: 15px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.progressBarGradientFill {
	width: 100%;
	height: 15px;
	border-radius: 0px;
	-webkit-animation: progress 0.3s linear infinite;
	-moz-animation: progress 0.3s linear infinite;
	animation: progress 0.3s linear infinite;
	background-repeat: repeat-x;
	background-size: 30px 30px;
	background-image: -webkit-linear-gradient(-45deg, #0dbb6a 25%, transparent 25%, transparent 50%, #0dbb6a 50%, #0dbb6a 75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, #0dbb6a 25%, transparent 25%, transparent 50%, #0dbb6a 50%, #0dbb6a 75%, transparent 75%, transparent);
}

.progressBarGradient{
	background: -moz-linear-gradient(top,  #0fd377 0%, #0fd377 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0fd377), color-stop(100%,#0fd377));
	background: -webkit-linear-gradient(top,  #0fd377 0%,#0fd377 100%);
	background: -o-linear-gradient(top,  #0fd377 0%,#0fd377 100%);
	background: -ms-linear-gradient(top,  #0fd377 0%,#0fd377 100%);
	background: linear-gradient(to bottom,  #0fd377 0%,#0fd377 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fd377', endColorstr='#0fd377',GradientType=0 );
}

.main-header .sidebar-toggle {
  padding: 25px 25px;
}

.main-header .logo {
  height: 70px;
  line-height: 70px;
  text-align: left;
}

.main-sidebar, .left-side {
  top: 25px;
}

.skin-green .main-sidebar {
  background-color: #151515;
}

.skin-green .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #234636;
  border-left-color: #00a65a;
}

@media (min-width: 768px){
  .navbar-nav>li>a {
      padding-top: 25px;
      padding-bottom: 25px;
  }
}

@media (max-width: 768px){
    .recent-adverts{
      padding-left: 30px;
      padding-right: 30px;
    }

    .header-stroke{
      display: none;
    }

    .categories-list{
      padding-left: 30px;
      padding-right: 30px;
      text-align: center;
    }

    .progressBarBg {
      position: fixed; 
      top:0%;
      width: 100%;
      background-color: transparent;
      /* padding-left: 5%;
      padding-right: 5%; */
      margin-bottom: 0px;
      z-index: 10000;
    }

    .progressBar, .progressBarGradientFill {
      height: 25px;
    }

}


@media (max-width: 767px){
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      border-color: #e7e7e700;
      background: #3ca03c;
    }

    .nav {
      text-align: center;
    }

    .nav>li {
      border-bottom: solid 1px #ffffff2e;
    }

    .navbar-default .navbar-toggle {
        border-color: #fff;
    }

    .navbar-default .navbar-toggle:hover {
      background-color: #fffefe38;
    }

    i.fa.fa-bars {
      color: white;
    }

    .navbar-toggle {
        position: relative;
        float: right;
        padding: 4px 10px;
        margin-top: 22px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    

    @media (min-width: 768px) and (max-width:1024px){
      .navbar-right {
        float: right!important;
        margin-right: 5%;
      }
    }
}


/* Loading animation */
.lds-roller {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 45%;
  left: 50%;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: green;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



